<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <ul>
        <li><a th:href="| /?name=${fox.name} |">Information</a></li>
        <li><a th:href="|/|">Nutrition store</a></li>
    </ul>
    <img alt="Fox" src="/img/greenfox.png">
    <p  th:text="|This is ${fox.name}. Currently living on ${fox.getFood()} and ${fox.getDrink()}. He/She knows ${fox.getTricks().size()} tricks. |"></p>
    <h1>Known Tricks</h1>
    <p>You know no tricks yet. Go and learn some.</p>
</body>
</html>