<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit Todo</h1>
    <form th:action="@{edit}" method="Post" th:object="${todo}">
        <span>Todo Description</span>
        <input type="text" th:field="*{title}">

        <span>Urgent</span>
        <input type="checkbox" th:field="*{urgent}">

        <span>Done</span>
        <input type="checkbox" th:field="*{done}">

        <input type="hidden" th:field="*{id}">
        <input type="submit" th:value="Submit">

    </form>
</body>
</html>